    /************************** 
    ******Desktop version****** 
    **************************/
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #866a6a;
        font-family: sans-serif;
        font-size: 14px;
    }
    /************************** 
    ************Nav************ 
    **************************/
    
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        background: rgb(75, 57, 57);
        color: #e4dada;
    }
    
    .mainMenu {
        display: flex;
        list-style: none;
    }
    
    .nav-link {
        display: inline-block;
        padding: 15px;
        border-radius: 25px 0 0 0;
        text-decoration: none;
        color: #e4dada;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    
    .nav-link:hover {
        background: #866a6a;
    }
    
    .openMenu {
        display: none;
        margin: 11px 20px;
        cursor: pointer;
        font-size: 2rem;
    }
    
    .closeMenu,
    i {
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }
    
    .logo {
        display: flex;
        align-items: center;
        margin: 0 0 0 6px;
        font-size: 1.6rem;
    }
    /************************** 
    ***********Main************ 
    **************************/
    
    main {
        display: flex;
        justify-content: center;
    }
    /************************** 
    *****Random beer page****** 
    **************************/
    
    .indexRandomBeerSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    
    #button {
        display: block;
        margin: 10px;
        padding: 12px 17px;
        background: #444;
        border: none;
        outline: none;
        border-radius: 7px;
        cursor: pointer;
        color: #dac7c7;
        font-size: 1.3rem;
    }
    
    #button:hover {
        background: #333;
        color: #866a6a;
    }
    
    .showBeerContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }
    
    .beercard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 63vh;
        margin-top: 20%;
        background-color: #dac7c7;
        border-radius: 5px;
        border: 1px solid rgb(75, 57, 57);
        text-align: center;
    }
    
    .beercard>h2 {
        margin-bottom: 10px;
        color: #333;
        font-size: 1.1rem;
    }
    
    .beercard>img {
        height: 40vh;
        margin: 10px;
    }
    
    .seeMoreLink {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        color: #333;
    }
    
    .seeMoreLink:hover {
        text-decoration: underline;
    }
    
    .seeMoreLink:after {
        content: " \22B3";
    }
    /************************** 
    ******Beer info page******* 
    **************************/
    
    .indexInfoBeerSection {
        display: inline-block;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        width: 90%;
        height: auto;
        margin-top: 100px;
        margin-bottom: 35px;
        background-color: #866a6a;
    }
    
    .beerInfoContainer {
        display: inline-block;
        width: 100%;
        max-width: 650px;
        min-width: 400px;
        min-height: 80%;
        margin: 5px;
        background-color: #dac7c7;
        border: 1px solid rgb(75, 57, 57);
        border-radius: 5px;
    }
    
    .beerImgContainer {
        display: inline-block;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
        min-width: 300px;
        margin: 5px;
        background-color: #866a6a;
    }
    
    .beerImgContainer>h2 {
        display: block;
        width: 100%;
        padding-left: 5%;
        text-align: left;
        color: #333;
        font-size: 1.7rem;
    }
    
    .beerImgContainer>img {
        height: 350px;
        margin-top: 40px;
    }
    
    .showBeerOptions {
        list-style-type: none;
        margin: 10px 15px;
        color: #333;
        font-weight: bold;
    }
    
    .beerInfo {
        font-style: italic;
        font-weight: normal;
    }
    /************************** 
    ****** Search page  ******* 
    **************************/
    /* Förslag på klassnamn: indexSearchSection */
    
    .formcontainer {
        width: 80%;
        min-height: 70vh;
        margin-top: 100px;
        margin-bottom: 30px;
        padding-left: 15px;
        background-color: #dac7c7;
        border: 1px solid rgb(75, 57, 57);
        border-radius: 5px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    
    input[type=text]:focus,
    input[type=text] {
        text-align: center;
        width: 400px;
        padding: 10px;
        margin: 5px;
        border-radius: 10em;
    }
    
    input[type=text]:focus {
        background-color: #FDF5E6;
    }
    
    .alcoholfield {
        font-weight: bold;
    }
    
    input[type=number]:focus,
    input[type=number] {
        width: 185px;
        padding: 10px;
        margin: 5px;
        border-radius: 10em;
    }
    
    #searchButton {
        background: #444;
        border: none;
        color: #dac7c7;
        text-decoration: none;
        margin: 4px 2px;
        padding: 3px;
        cursor: pointer;
        text-align: center;
        border-radius: 10em;
        width: 5em;
        outline: none;
    }
    
    #searchButton:hover {
        background: #333;
        color: #866a6a;
        font-weight: bold;
    }
    
    .formError {
        border: 2px solid red;
        background-color: rgb(224, 186, 186);
    }
    
    .errorfield {
        border: 2px solid red;
    }
    
    .searchList {
        min-height: 450px;
        padding-top: 40px;
        margin-top: 180px;
    }
    
    .searchItem {
        font-weight: bold;
        border-style: groove;
        width: 50%;
        border-radius: 20em;
        background-color: #dac7c7;
        color: #444;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.9rem;
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
    }
    
    .searchItem:hover {
        background-color: #866a6a;
        border-style: groove;
        color: white;
        cursor: pointer;
    }
    
    .pageButtonContainer,
    .pageButtonBorder {
        width: 100%;
    }
    
    .pageButtonBorder {
        border-top: 2px solid black;
    }
    
    #next,
    #prev {
        background-color: #444;
        border: none;
        color: white;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        text-align: center;
        border-radius: 10em;
        width: 3.5em;
    }
    
    #next:hover,
    #prev:hover {
        background-color: #BC8F8F;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    /*
      .display-none {
        display: none;
      }
      */
    /************************** 
    ******Mobile version******* 
    **************************/
    
    @media(max-width: 800px) {
        /************************** 
    ***********Nav************ 
    **************************/
        .mainMenu {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgb(75, 57, 57);
            transition: top 1.5s ease;
            display: none;
        }
        .closeMenu {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .openMenu {
            display: block;
        }
        .nav-link:hover {
            background: none;
            color: #866a6a;
            font-size: 1.6rem;
        }
        .icons {
            display: inline-block;
            padding: 12px;
        }
        .beerInfoContainer {
            min-height: auto;
        }
        .beerImgContainer>img {
            margin-bottom: 10px;
        }
        form {
            margin-bottom: 40px;
        }
        input[type=text]:focus,
        input[type=text] {
            width: 90%;
        }
        .alcoholfield {
            width: 90%;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        input[type=number]:focus,
        input[type=number] {
            width: 40%;
        }
        .searchItem {
            width: 90%;
        }
    }