form{
  display: flex;
  justify-content: center;
 height: 40px;
 margin-top:50px;
}

.searchItem {
background-color:blue;
margin-top:10px;
margin-bottom:10px;
font-size:1.5rem;
display:inline-block;
cursor: pointer;
}

.formcontainer {

background-color:red;
width:80%;
min-height:400px;
margin-top:50px;

}


input[type=text]:focus, input[type=text] {
  text-align: center;
  border-radius: 10em;
}

input[type=text]:focus{
  background-color: #B0E0E6;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #00BFFF;
  border: none;
  color: white;
  border-radius: 10em;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#next, #prev {
  background-color: #00BFFF;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 10em;
}
/*
.display-none {
  display: none;
}
*/